.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

html.light .error-page {
  background: var(--background-color);
  color: var(--color);
}

html.dark .error-page {
  background: var(--background-dark-color);
  color: var(--dark-color);
}

.error-title {
  padding: 14px 0;
  font-size: clamp(1.125rem, 0.9047rem + 1.1013vw, 1.75rem);
  -webkit-text-stroke: 1px #3a3a04;
}

.error-image-host {
  width: 70%;
  display: flex;
  justify-content: center;
}

.error-image {
  max-width: 900px;
  width: 100%;
  height: auto;
  padding: 20px 0 0;
}

.rick-morty {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  align-self: center;
  justify-self: left;
  margin: 20px 0 0 20px;
}

.rick-morty-img {
  width: 100%;
  max-width: 149px;
  height: auto;
}

.error-message {
  padding: 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
