.loader-image {
  animation: rotate 5s infinite;
  background-image: url("../assets/circles.svg");
  background-repeat: no-repeat;
  width: 140px;
  height: 140px;
}

.loader {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  height: 230px;
  width: 230px;
  width: 100%;
}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
    opacity: 1;
  }

  50% {
    transform: rotate(0deg);
    opacity: 0;
  }

  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
