#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr;
  width: 100%;
  height: 100vh;
}

.search-panel {
  grid-row: 1/2;
  width: 100%;
  background: rgb(184, 179, 156);
  color: rgb(207, 207, 6);
}

.cards-panel {
  grid-row: 2/3;
  width: 100%;
  background: rgb(169, 142, 3);
  color: white;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  height: 31px;
}
