:root {
  --background-color: rgb(184, 179, 156);
  --background-container-color: rgb(169, 142, 3);
  --color: rgb(207, 207, 6);

  --background-dark-color: rgb(99, 122, 166);
  --background-container-dark-color: rgb(3, 41, 118);
  --dark-color: rgb(240, 249, 252);
  --dark-button: #d7d0d0;
  --view-background: #01031d;
}

#root {
  width: 100%;
  margin: 0 auto;
}

#root:has(.light-view-app) {
  background: #ccc;
}

#root:has(.dark-view-app) {
  background: var(--view-background);
}

.view-app {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 200px 50px 1fr;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.theme-btn {
  position: absolute;
  left: 22px;
  top: 1vh;
}

.search-panel {
  grid-row: 1/2;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

.light-search-panel {
  background: var(--background-color);
  color: var(--color);
}

.dark-search-panel {
  background: var(--background-dark-color);
  color: var(--dark-color);
}

.current-page {
  color: rgb(245, 245, 13);
  -webkit-text-stroke: 1px #3a3a04;
  font-size: 24px;
  font-weight: 800;
}

h2.search-title {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  max-height: 35px;
  align-self: center;
  -webkit-text-stroke: 1px #3a3a04;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2/3;
  grid-row: 2/3;
}

.search-input {
  height: 31px;
}

.search-error-button {
  grid-column: 3/4;
  grid-row: 2/3;
  height: fit-content;
  align-self: center;
}

.dark-search-panel .search-input,
.dark-search-panel .search-error-button,
.dark-search-panel button {
  background: var(--dark-button);
}

.pagination-panel {
  grid-row: 2 / 3;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  gap: 11px;
  color: black;
}

.light-pagination-panel {
  background: var(--background-color);
}

.dark-pagination-panel {
  background-color: var(--background-dark-color);
}

.dark-pagination-panel button {
  background: var(--dark-button);
}

.cards-panel {
  grid-row: 3 / 4;
  width: 100%;
  display: flex;
  padding: 0 0 85px;
}

.light-cards-panel {
  color: var(--dark-color);
  background: var(--background-container-color);
}

.dark-cards-panel {
  color: var(--color);
  background-color: var(--background-container-dark-color);
}

.detail-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 230px;
  padding-top: 36px;
}

.light-detail-page {
  background: var(--background-container-color);
}

.dark-detail-page {
  background-color: var(--background-container-dark-color);
}

.light-detail {
  color: var(--dark-color);
}

.dark-detail {
  color: var(--color);
}

.detail-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: rgb(184, 179, 156);
}

.detail-page h2 {
  padding-top: 14px;
}

.detail-page p {
  margin: 5px;
}

.detail-page-exit {
  position: absolute;
  right: 5px;
  top: 0;
  width: 30px;
  height: 30px;
  font-size: clamp(1.125rem, 0.9047rem + 1.1013vw, 1.75rem);
  font-weight: 800;
  color: rgb(245, 245, 13);
  -webkit-text-stroke: 1px #3a3a04;
}

.detail-page img {
  width: 80%;
  height: auto;
}

.cards {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  width: 100%;
  margin: 0 auto;
  padding: 11px 15px;
  gap: 20px;
}

.card {
  display: grid;
  grid-row: auto / span 2;
  row-gap: 0px;
  padding: 5px 0;
  grid-template-rows: subgrid;
  justify-self: center;
  justify-items: center;
  width: 100%;
  min-width: 150px;
  max-width: 298px;
  font-size: clamp(0.875rem, 0.7357rem + 0.5714vw, 1.25rem);
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 2px 2px 8px 2px rgba(195, 195, 195, 1);
}

.manager-panel {
  display: flex;
  height: 30px;
}

.light-to-favorite {
  background: white;
}

.dark-to-favorite {
  background: var(--dark-button);
}

.light-from-favorite {
  background: rgb(179, 103, 103);
}

.dark-from-favorite {
  background: #f6ea03fd;
}

.card-content {
  padding: 10px 0;
}

a.light-card-link {
  color: var(--dark-color);
}

a.dark-card-link {
  color: var(--color);
}

a.light-card-link:hover {
  color: greenyellow;
}

a.dark-card-link:hover {
  color: rgb(17, 240, 218);
}

.card-image {
  width: 100%;
  height: auto;
}

.error-page {
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  height: 100%;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

#root:has(.dark-error-page) {
  background: var(--view-background);
}

.light-error-page {
  color: var(--dark-color);
  background: var(--background-container-color);
}

.light-error-page button {
  background: white;
}

.dark-error-page button {
  background: var(--dark-button);
}

.dark-error-page {
  color: var(--color);
  background-color: var(--background-container-dark-color);
}

.error-image-host {
  width: 100%;
}

.error-image {
  width: 100%;
  height: auto;
  padding: 20px 0 0;
}

.rick-morty {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  align-self: center;
  justify-self: left;
  margin: 20px 0 0 20px;
}

.rick-morty-img {
  width: 100%;
  max-width: 149px;
  height: auto;
}

.error-message {
  padding: 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  background: rgb(169, 142, 3);
}

.popup {
  position: fixed;
  bottom: 0;

  grid-column: 1 / 3;

  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;
  gap: 10px;

  height: 63px;
  max-width: 1280px;
  width: 100%;

  font-weight: 500;
  text-align: center;
  border-top: 1px solid #ccc;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  padding: 0px 14px;
}

.light-popup {
  color: black;
  background-color: var(--background-color);
}

.dark-popup {
  color: white;
  background-color: var(--background-dark-color);
}

.light-popup .download-btn,
.light-popup button {
  background: white;
}

.dark-popup .download-btn,
.dark-popup button {
  background: var(--dark-button);
}

.download-btn {
  color: black;
  width: 100%;
  height: 100%;
}

.download-btn:hover {
  color: black;
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .search-panel {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .search-form {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .search-error-button {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .rick-morty {
    grid-row: 1 / 4;
  }
}

@media (max-width: 400px) {
  .cards {
    grid-template-columns: 1fr;
  }
}