* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background-color: rgb(184, 179, 156);
  --background-container-color: rgb(169, 142, 3);
  --background-detail-container-color: rgb(24 69 10);
  --color: rgb(207, 207, 6);

  --background-dark-color: rgb(99, 122, 166);
  --background-container-dark-color: rgb(3, 41, 118);
  --background-detail-container-dark-color: rgb(114 112 101);
  --dark-color: rgb(240, 249, 252);
  --dark-button: #d7d0d0;
  --view-background: #01031d;
}

.bold {
  font-weight: 600;
  color: #1a1a17;
}

a {
  font-weight: 500;
  color: #cfba2c;
  text-decoration: inherit;
}

a:hover {
  color: #cfba2c;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  background: gainsboro;
  min-height: 100vh;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  text-shadow: 0 0 3px #696557;
  font-size: clamp(0.8rem, 0.6476rem + 1.7621vw, 1.5rem);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 5px 7px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover,
button:active {
  border-color: #85582e;
  /* color: black; */
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #85582e;
  }

  button {
    background-color: #f9f9f9;
  }
}